<section id="expertise" class="py-24 sm:py-32" data-aos="fade-up" data-duration="2000" data-aos-delay="400">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <div class="text-center">
            <div class="flex justify-center">
                <img src="/assets/images/proud.svg" alt="" class="w-45 h-45" />
            </div>
        <p class="mt-2 text-4xl font-extrabold tracking-tight text-gray-900 sm:text-5xl">
            
            Une <span class="text-indigo-600">expertise</span> solide, reconnue par mes <span class="text-indigo-600">clients</span>
        </p>
        <p class="mt-4 text-lg text-gray-600">
            Découvrez les technologies que j’utilise régulièrement, ainsi que les entreprises avec lesquelles j’ai eu l’opportunité de collaborer au cours de ma carrière.
        </p>
        </div>

        <!-- STACK -->
        <div class="mt-16 grid grid-cols-2 sm:grid-cols-3 md:grid-cols-5 gap-10 items-center justify-center" data-aos="fade-up" data-duration="2000" data-aos-delay="400">
        <img class="grayscale hover:grayscale-0 transition w-25 h-25" src="assets/images/angular.svg" alt="Angular" />
        <img class="grayscale hover:grayscale-0 transition w-25 h-25" src="assets/images/nodejs.svg" alt="Node.js" />
        <img class="grayscale hover:grayscale-0 transition w-25 h-25" src="assets/images/typescript.svg" alt="TypeScript" />
        <img class="grayscale hover:grayscale-0 transition w-25 h-25" src="assets/images/html.svg" alt="HTML" />
        <img class="grayscale hover:grayscale-0 transition w-25 h-25" src="assets/images/css.svg" alt="CSS3" />
        </div>

        <!-- CLIENTS -->
        <div class="mt-20" data-aos="fade-up" data-duration="2000" data-aos-delay="400">
            <h3 class="text-center mt-4 text-lg text-gray-600">Collaborations en tant que consultant chez :</h3>
            <div class="mt-10 flex flex-wrap justify-center gap-10">
                <img class="h-15 grayscale hover:grayscale-0 transition" src="assets/images/adneom.png" alt="Positive Thinking Company" />
                <img class="h-15 grayscale hover:grayscale-0 transition" src="assets/images/proximus.png" alt="Proximus" />
                <img class="h-10 grayscale hover:grayscale-0 transition" src="assets/images/immoweb.svg" alt="Immoweb" />
                <img class="h-12 grayscale hover:grayscale-0 transition" src="assets/images/macq.png" alt="Macq" />
            </div>
        </div>
    </div>
</section>