<nav class="fixed top-0 left-0 right-0 w-full bg-white shadow-sm transition-transform z-50" [class.hidden]="!navbarVisible">
  <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
    <div class="relative flex h-16 items-center justify-between">
      <!-- Mobile menu button-->
      <div (click)="toggleMobileMenu()" class="absolute inset-y-0 left-0 flex items-center sm:hidden">
        
        <button type="button" class="relative inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-indigo-500 hover:text-white focus:ring-2 focus:ring-white focus:outline-hidden focus:ring-inset" aria-controls="mobile-menu" aria-expanded="true">
          <span class="absolute -inset-0.5"></span>
          <span class="sr-only">Open main menu</span>
          <!--
            Icon when menu is closed.
          -->
          <svg *ngIf="!ismobileMenuOpen" class="size-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
          </svg>
          <!--
            Icon when menu is open.
          -->
          <svg *ngIf="ismobileMenuOpen" class="size-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
          </svg>
        </button>
      </div>
       <!-- Company Logo-->
       <div class="flex shrink-0 items-center sm:static absolute left-1/2 sm:left-0 transform sm:transform-none -translate-x-1/2 sm:translate-x-0">
        <img class="h-8 w-auto" src="https://tailwindcss.com/plus-assets/img/logos/mark.svg?color=indigo&shade=500" alt="Your Company">
      </div>
      <!-- Navbar items-->
      <div class="flex flex-1 items-center justify-center sm:items-stretch">
       
        <div class="hidden sm:ml-6 sm:block">
          <div class="flex space-x-4">
            <a *ngFor="let item of menuItems" [appScrollTo]="item.id" class="rounded-lg text-sm px-4 py-2 font-medium text-gray-700 hover:bg-gradient-to-r hover:to-gray-500 hover:from-indigo-400 hover:text-white" [attr.aria-current]="item.id === currentRoute ? 'page' : null" [ngClass]="{ 'bg-gradient-to-r to-gray-700 from-indigo-500 text-white ': item.id === currentRoute }">{{'NAV.'+item.label | translate}}</a>
          </div>
        </div>  
      </div>
      <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
        <!-- Language dropdown -->
        <div class="relative ml-3">
          <div>
            <button (click)="toggleLangMenu()" type="button" class="relative flex p-2 rounded-full bg-gradient-to-r to-gray-500 from-indigo-200 hover:bg-gradient-to-r hover:to-gray-500 hover:from-indigo-400 active:bg-gradient-to-r active:from-indigo-400 active:to-gray-500 transition" id="user-menu-button" aria-expanded="false" aria-haspopup="true">
              <span class="absolute -inset-1.5"></span>
              <span class="sr-only">Open user menu</span>
              <img src="assets/flag/{{selectedLanguage.icon}}" alt="{{selectedLanguage.code}} flag" class="w-5">
            </button>
          </div>

          <div *ngIf="isLangMenuOpen" class="absolute right-0 z-10 mt-2 w-15 origin-top-right rounded-md bg-white py-1 ring-1 ring-black/5 focus:outline-hidden" role="menu" aria-orientation="vertical" aria-labelledby="user-menu-button" tabindex="-1">
            <ng-container *ngFor="let lang of languagesList; index as i">
              <a  *ngIf="lang.code !== selectedLanguage.code" (click)="selectLanguage(lang)" class="block px-4 py-2 text-sm text-gray-700 font-semibold hover:bg-gradient-to-r hover:to-gray-500 hover:from-indigo-400 active:bg-gradient-to-r active:from-indigo-400 active:to-gray-500" role="menuitem" tabindex="-1" [id]="'user-menu-item-'+i">
                <img src="assets/flag/{{lang.icon}}" alt="{{lang.code}} flag" class="w-5">
              </a>
            </ng-container>
            
          </div>
        </div>
      </div>
    </div>
  </div> 

  <!-- Mobile menu, show/hide based on menu state. -->
  <div *ngIf="ismobileMenuOpen" class="sm:hidden" id="mobile-menu">
    <div class="space-y-1 px-2 pt-2 pb-3">
      <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
      <a *ngFor="let item of menuItems" [appScrollTo]="item.id" (click)="closeMenu()" class="block rounded-lg text-sm px-4 py-2 text-base font-medium text-gray-700 active:bg-gradient-to-r active:from-indigo-400 active:to-gray-500 active:transition-all duration-300 ease-in-out" [attr.aria-current]="item.id === currentRoute ? 'page' : null"  [ngClass]="{ 'bg-gradient-to-r to-gray-700 from-indigo-500 text-white': item.id === currentRoute }">{{'NAV.'+item.label | translate}}</a>
    </div>
  </div>
</nav>
