<section id="/services" class="py-24 sm:py-32 lg:py-40 px-5 shadow-lg" data-aos="zoom-in" data-duration="2000" data-aos-delay="400">
  <div class="mx-auto max-w-4xl text-center">
    <div class="flex justify-center">
      <img src="assets/images/outer-space.svg" alt="" class="w-40 h-40" />
    </div>
    <h2 class="text-4xl sm:text-5xl font-extrabold tracking-tight text-gray-900">
      {{'SERVICES.TITLE.1' | translate }} <span class="text-indigo-600">{{'SERVICES.TITLE.2' | translate }}</span> {{'SERVICES.TITLE.3' | translate }} <span class="text-indigo-600">{{'SERVICES.TITLE.4' | translate }}</span>
    </h2>
    <p class="mt-4 text-lg text-gray-600">
      {{'SERVICES.DESCRIPTION' | translate }}
    </p>
  </div>

  <!-- Cartes Services -->
  <div class="mx-auto mt-16 grid max-w-lg grid-cols-1 items-center gap-y-6 sm:mt-20 sm:gap-y-0 lg:max-w-4xl lg:grid-cols-2">
    <div class="rounded-3xl rounded-t-3xl bg-white/60 p-8 ring-1 ring-gray-900/10 sm:mx-8 sm:rounded-b-none sm:p-10 lg:mx-0 lg:rounded-tr-none lg:rounded-bl-3xl">
      <h3 id="tier-hobby" class="text-base/7 font-semibold text-indigo-600">{{'SERVICES.INDE.TITLE' | translate }}</h3>
    
      <ul role="list" class="mt-8 space-y-3 text-sm/6 text-gray-600 sm:mt-10">
        <li class="flex gap-x-3">
          <svg class="h-6 w-5 flex-none text-indigo-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
            <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd" />
          </svg>
          {{'SERVICES.INDE.DESC.1' | translate }}        </li>
        <li class="flex gap-x-3">
          <svg class="h-6 w-5 flex-none text-indigo-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
            <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd" />
          </svg>
          {{'SERVICES.INDE.DESC.2' | translate }}        </li>
        <li class="flex gap-x-3">
          <svg class="h-6 w-5 flex-none text-indigo-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
            <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd" />
          </svg>
          {{'SERVICES.INDE.DESC.3' | translate }}        </li>
        <li class="flex gap-x-3">
          <svg class="h-6 w-5 flex-none text-indigo-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
            <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd" />
          </svg>
          {{'SERVICES.INDE.DESC.4' | translate }}        </li>
      </ul>
      <a [appScrollTo]="'/contact'" aria-describedby="tier-small-independant" class="mt-8 block rounded-md px-3.5 py-2.5 text-center text-sm font-semibold bg-gradient-to-r bg-gradient-to-r bg-gradient-to-r from-[#A3BFFA] to-[#6366F1] text-white hover:bg-gradient-to-r hover:to-gray-500 hover:from-indigo-400 hover:text-white active:bg-indigo-700 shadow-md">{{'SERVICES.INDE.DESC.CTA' | translate }}</a>
    </div>
    <div class="relative rounded-3xl bg-gray-900 p-8 shadow-2xl ring-1 ring-gray-900/10 sm:p-10">
      <h3 id="tier-enterprise" class="text-base/7 font-semibold text-indigo-400">{{'SERVICES.CONSULTING.TITLE' | translate }}</h3>
      <ul role="list" class="mt-8 space-y-3 text-sm/6 text-gray-300 sm:mt-10">
        <li class="flex gap-x-3">
          <svg class="h-6 w-5 flex-none text-indigo-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
            <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd" />
          </svg>
          {{'SERVICES.CONSULTING.DESC.0' | translate }}
        </li>
        <li class="flex gap-x-3">
          <svg class="h-6 w-5 flex-none text-indigo-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
            <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd" />
          </svg>
          {{'SERVICES.CONSULTING.DESC.1' | translate }}
        </li>
        <li class="flex gap-x-3">
          <svg class="h-6 w-5 flex-none text-indigo-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
            <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd" />
          </svg>
          {{'SERVICES.CONSULTING.DESC.2' | translate }}
        </li>
        <li class="flex gap-x-3">
          <svg class="h-6 w-5 flex-none text-indigo-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
            <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd" />
          </svg>
          {{'SERVICES.CONSULTING.DESC.3' | translate }}
        </li>
        <li class="flex gap-x-3">
          <svg class="h-6 w-5 flex-none text-indigo-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
            <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd" />
          </svg>
          {{'SERVICES.CONSULTING.DESC.4' | translate }}
        </li>
      </ul>
      <a [appScrollTo]="'/contact'" aria-describedby="tier-enterprise" class="mt-6 block rounded-md bg-gradient-to-r to-gray-700 from-indigo-400 text-white px-3.5 py-2.5 text-center text-sm font-semibold text-white shadow-xs hover:bg-gradient-to-r hover:to-gray-500 hover:from-indigo-400 hover:text-white active:bg-indigo-700 shadow-md">{{'SERVICES.CONSULTING.DESC.CTA' | translate }}</a>
    </div>
  </div>
</section>
