<section id="home" class="min-h-screen flex items-center justify-center px-6">
  <div class="max-w-3xl text-center space-y-6">
    
    <!-- Mini tagline -->
    <p data-aos="fade-up" data-aos-duration="1000" class="text-sm uppercase tracking-wide text-indigo-500 font-semibold">
      <img src="/assets/images/welcome.svg" alt="" class="w-45 h-45 mr-30" />
       Développeur Web Freelance
    </p>

    <!-- Big Title -->
    <h1 data-aos="fade-up" data-aos-duration="1000" class="text-4xl sm:text-5xl font-extrabold text-gray-900">
      Transformez vos idées en <span class="text-indigo-500">solutions web performantes.</span>
    </h1>

    <!-- Subtitle -->
    <p data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300" class="text-gray-600 text-lg sm:text-xl">
      Conception d'applications modernes sur mesure — du site vitrine à l'application métier complexe.
    </p>

    <!-- CTA Buttons -->
    <div data-aos="zoom-in" data-aos-duration="1000" data-aos-delay="600" class="flex flex-col sm:flex-row justify-center gap-4 pt-5">
      <a href="#contact" class="px-6 py-3 bg-indigo-600 text-white font-medium rounded-xl hover:bg-indigo-700 transition shadow-md">
        Prendre un RDV
      </a>
      <a href="services" class="px-6 py-3 border border-indigo-600 text-indigo-500 font-medium rounded-xl hover:bg-indigo-#C7D2FE transition">
        Voir mes services
      </a>
    </div>
    
  </div>
  
</section>
